body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #d1c4f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default;
}

.encabezado {
    width: 100%;
    background-color: #7c57d9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.logo img {
    width: 30px;
    height: auto;

}

.barra {
    display: flex;
    padding: 1px;
    margin-left: auto;
}

.barra label {
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.barra label:hover {
    background-color: #ae93ee;
}

.botones {
    display: flex;
    padding: 1px;
}

.botones label {
    background-color: #3c3d3b;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.botones label:hover {
    background-color: #ae93ee;
}

.primera {
    text-align: center;
    justify-content: center;
    position: relative;
    padding-bottom: 18%;
}

.primera h1 {
    color: #2b292b;
    font-size: 50px;
    align-items: center;
    margin: 0;
    padding-top: 18%;
    margin-top: center;
}

.primera p {
    color: #2b292b;
    font-size: 20px;
    padding: 2%;
    margin: 0;
}


@media (max-width: 768px) {
    .titulo h1 {
        font-size: 30px;
        align-items: center;
        margin-top: 30%;

    }

    .barra {
        flex-direction: row;
        align-items: flex-start;
    }

    .botones {
        flex-direction: row;
        align-items: flex-start;
    }

    .barra label,
    .botones label {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

}