html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background-color: #d1c4f0;
}

.encabezado {
    width: 100%;
    background-color: #7c57d9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
}

.logo img {
    width: 30px;
    height: auto;
}

.barra {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.barra label, .barra a {
    margin:9px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.barra a:hover {
    background-color: #6a6a6a;
    color: white;
}

.botones {
    display: flex;
    align-items: center;
    margin-top: 10px; 
}

.botones label {
    margin:0 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #4a4a4a;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.botones label:hover {
    background-color: #6a6a6a;
    color: white;
}

.primera {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    background-color: #d1c4f0;
}

.pagina2 {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.pagina2 .texto {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
}

.pagina2 .texto .arriba {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
}

.pagina2 .texto .abajo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pagina2 .imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina2 .imagen img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
}

.pagina3{
    min-height: 100vh;
    background-color: #d1c4f0;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 15px;
}

.pagina3 .carta{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top:50px;
    background-color: #d1c4f0;
    border-radius: 5px;
}
.pagina3 .cartas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
    box-sizing:border-box;
}
.pagina3 .cartas .carta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
.pagina3 .cartas .carta img{
    grid-row:1;
    grid-column:1;
    width: 100%;
    height: auto;
    border-radius:50%;
}
.pagina3 .cartas .carta .nombre{
    grid-row:1;
    grid-column:2;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.pagina3 .cartas .carta p{
    grid-row:2;
    grid-column:1/3;
    color: #333;
    margin-bottom: 10px;
}

.pagina4 {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.pagina4 {
    background-color: rgb(126, 215, 215);
    text-align: center;
}

.pagina4 h1 {
    font-size: 50px;
}

.pagina4 form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: solid 1px black;
    border-radius: 500px;
}

.pagina4 ul {
    list-style: none;
    padding: 0;
    
}

.pagina4 li {
    font-size: 20px;
    margin: 30px;
}

.pagina4 button{
    margin-top: 20px;
}

button {
    background-color: #7c57d9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #5a3dbf;
}

.titulo h1 {
    font-size: 30px;
    align-items: center;
    margin-top: 30%;
}

.barra .botones{
    flex-direction: row;
    align-items: flex-start;
}

.barra label, .botones label {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;    
}

.pagina5{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #d1c4f0;
    padding: 15px;
}

.pie {
    background-color: #5798d9;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    min-height: 40px;
}
.pie .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.pie .redes div{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.pie .redes img{
    width: 30px;
    height: 30px;
    border-radius:50%;
}

@media (max-width: 768px) {
    .titulo h1 {
        font-size: 30px;
        align-items: center;
        margin-top: 30%;

    }

    .barra {
        flex-direction: row;
        align-items: flex-start;
    }

    .botones {
        flex-direction: row;
        align-items: flex-start;
    }

    .barra label, .botones label {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

}

@media (max-width: 600px) {
    .pagina3 .cartas {
        display: flex;
        flex-direction: column;
    }
    .pagina3 .cartas .carta {
        display: flex;
        flex-direction: column;
    }

    .pagina3 .cartas .carta img {
        width: 50%;
    }

}