html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.encabezado {
    width: 100%;
    background-color: #7a9c9e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
}

.menu{
    display: none;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.icono {
    display: none;
    font-size:30px;
    cursor:pointer;
}
.logo img {
    width: 30px;
    height: auto;
}

.barra {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.barra label, .barra a {
    margin:9px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.barra a:hover {
    background-color: #3d5858;
    color: white;
}

.botones {
    display: flex;
    align-items: center;
    margin-top: 10px; 
}

.botones label {
    margin:0 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #4a4a4a;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.botones label:hover {
    background-color: #6a6a6a;
    color: white;
}

.primera {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/fondo3.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
#contador {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#contador span {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.pagina2 {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/fondo3.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    flex-direction: column;
}

.pagina2 .titulo {
   align-self: flex-start;
   margin-bottom: 20px;
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 40px;
   font-size: 19px;
   white-space: nowrap;
   
}

.pagina2 .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pagina2 .texto h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.pagina2 .texto {
    flex: 1;
    text-align: left;
    padding-left: 60px;
    max-width: 550px; 
    padding-right: 175px;
}

.pagina2 .imagen {
    flex: 1;
    text-align: left;
}

.pagina2 .imagen img {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    padding-left: 125px;
}

.pagina3{
    min-height: 100vh;
    background-color: #bbd0d5;
    padding-top:20px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}

.pagina3 .carta{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top:50px;
    border-radius: 5px;
}
.pagina3 .cartas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
    box-sizing:border-box;
}
.pagina3 .cartas .carta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
.pagina3 .cartas .carta img{
    grid-row:1;
    grid-column:1;
    width: 100%;
    height: auto;
    border-radius:50%;
}
.pagina3 .cartas .carta .nombre{
    grid-row:1;
    grid-column:2;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.pagina3 .cartas .carta p{
    grid-row:2;
    grid-column:1/3;
    color: #333;
    margin-bottom: 10px;
}


.pagina4 {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('../images/fondo3.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center;
}

.pagina4 h1 {
    font-size: 50px;
}

.pagina4 form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: solid 1px black;
    border-radius: 500px;
}

.pagina4 ul {
    list-style: none;
    padding: 0;
    
}

.pagina4 li {
    font-size: 20px;
    margin: 30px;
}

.pagina4 button{
    margin-top: 20px;
}

.pagina4:hover {
    background-color: #3d5858;
}

button {
    background-color: #5a7a7a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3d5858;
}

.titulo h1 {
    font-size: 30px;
    align-items: center;
    margin-top: 30%;
}

.barra .botones{
    flex-direction: row;
    align-items: flex-start;
}

.barra label, .botones label {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;    
}

.pagina5{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    background-image: url('../images/fondo3.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 15px;
}

.pagina5 .titulo{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    height:10%;
}
.pagina5 .titulo h1{
    margin: 0;
    padding: 0; 
}
.pagina5 .juegos{
    display: flex;
    justify-items: center;
    align-items: center;
    box-sizing:border-box;
    flex-grow: 1;
    width: 100%;
    height: 90%;
}
.pagina5 .juegos .jugar{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 20%;
    margin: 20px 0; 
    padding: 10px 20px;
}

.pagina5 .juego .jugar a{
    background-color: #3d5858; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}
.pagina5 .juegos .jugar a:hover {
    background-color: #3d5a5a; 
}

.pagina5 .juegos .jugar a:active {
    background-color: #3d5858; 
}

.pagina5 .juegos .fotos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
}
.pagina5 .juegos .fotos img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: none;
}

.pagina5 .fotos .img-juego {
    display: none;
}

.pagina5 .fotos img:target {
    display: block;
}

.pie {
    background-color: #7a9c9e;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    min-height: 40px;
}
.pie .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.pie .redes div{
    margin: 0 10px;
    color: rgb(255, 251, 251);
    text-decoration: none;
}
.pie .redes img{
    width: 30px;
    height: 30px;
    border-radius:50%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.boton-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-label {
    margin-bottom: 10px; 
    display: inline-block ; 
}

.encabezado {
    position: relative;
}

.perfil {
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile-icon {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    cursor: pointer;
}.form-group {
    display: block;
    margin-bottom: 15px; 
}

.form-group label,
.form-group input,
.form-group select {
    display: block;
    width: 100%;
}

.hijo-fields {
    display: flex;
    gap: 10px; /* Espacio entre los campos */
}

.hijo-fields label,
.hijo-fields input {
    display: inline-block;
    width: auto;
    flex: 1;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.carta{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin:  5px 25px;
    cursor: move;
}
@media (max-width: 1024px) {
    .pagina2 {
        flex-direction: column;
        align-items: center;
    }

    .pagina2 .texto {
        max-width: 90%; 
        text-align: center; 
        padding-left: 0; 
        padding-right: 0;
    }

    .pagina2 .imagen img {
        max-width: 80%; 
        margin-top: 20px; 
    }
}



@media (max-width: 768px) {
    .titulo h1 {
        font-size: 30px;
        align-items: center;
        margin-top: 30%;
    }
    .pagina2 .imagen img {
        max-width: 70%; 
        padding-left: 15px;
    }

    .barra {
        display:none;
        flex-direction: column;
        background-color: #3d5858;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .barra a{
        padding:10px;
        font-size:18px;
    }
    .icono {
        display: block;
    }
    .menu:checked + .icono + .barra {
        display: flex;
    }

    .botones {
        display:flex;
        flex-direction: row;
        align-items: center;
        width:100%;
    }
    .botones label {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .barra label, .botones label {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pagina2 .contenido {
        flex-direction: row;
        align-items: center;
        padding-left: 0; 
    }

    .pagina3 .cartas {
        display: flex;
        flex-direction: column;
    }
    .pagina3 .cartas .carta {
        display: flex;
        flex-direction: column;
    }

    .pagina3 .cartas .carta img {
        width: 50%;
    }

}

@media (max-width: 600px){

    .pagina2 .texto {
        padding-left: 0; 
        max-width: 100%; 
        text-align: left; 
    }

    .pagina2 .imagen {
        text-align: left; 
    }

    .pagina2 .imagen img {
        max-width: 80%; 
        height: auto;
    }
}